<%= form_for(@attached_file, :html => { :multipart => true }) do |f| %>
  <% if @attached_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attached_file.errors.count, "error") %> prohibited this attached_file from being saved:</h2>

      <ul>
      <% @attached_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  
  <%= f.file_field :file %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
