<h1>Listing attached_files</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attached_files.each do |attached_file| %>
  <tr>
    <td><%= link_to (image_tag attached_file.file.url(:small)), attached_file.file.url(:original) %></td>
    <td><%= link_to 'Show', attached_file %></td>
    <td><%= link_to 'Edit', edit_attached_file_path(attached_file) %></td>
    <td><%= link_to 'Destroy', attached_file, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attached file', new_attached_file_path %>
