<h1>Listing carrots</h1>

<table>
  <tr>
    <th>Goal</th>
    <th>Friend</th>
    <th>Title</th>
    <th>Media</th>
    <th></th>
  </tr>

<% @carrots.each do |carrot| %>
  <tr>
    <td><%= carrot.goal.title %></td>
    <td><%= carrot.friend.first_name %></td>
    <td><%= carrot.title %></td>
    <% if is_goal_finished(carrot) %>
     <td><%= carrot.media %></td>
     <td><%= link_to 'Show', carrot %></td>
    <% else %>
     <td></td>
     <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Carrot', new_carrot_path %>
