<p id="notice"><%= notice %></p>

<p>
  <b>Goal:</b>
  <%= @carrot.goal_id %>
</p>

<p>
  <b>Friend:</b>
  <%= @carrot.friend_id %>
</p>

<p>
  <b>Title:</b>
  <%= @carrot.title %>
</p>

<% if @carrot.media.exists? %>
<p>
 <%= link_to (image_tag @carrot.media.url(:small)), @carrot.media.url(:original) %>
</p>
<% end %>


<%= link_to 'Edit', edit_carrot_path(@carrot) %> |
<%= link_to 'Back', carrots_path %>
