<h2>Current Goals</h2>
<ul>
  <% @user.goals.each do |goal| %>
    <li><%= link_to goal.title, goal_path(goal) %>
    <% if goal.created_at > Time.now-1.day %>
      new
    <% end %>
    <% if goal.deadline && goal.deadline < Time.now+1.day && !goal.finished %>
      Deadline Ending Soon
    <% end %>
    </li>
    <ul>
    <% fin = goal.finished %>
     <% goal.carrots.each do |carrot| %>
       <li>
        <% if fin %>
         <%= link_to carrot.title, carrot_path(carrot) %>
        <% else %> 
         <%= carrot.title %>
         <% end %> 
       </li>
     <% end %>
    </ul> 
  <% end %>
</ul>

<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%= link_to friendship.friend.email, user_path(friendship.friend) %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
    <ul>
      <% friendship.friend.goals.each do |a| %>
        <li>
          <%= link_to a.title, goal_path(a) %> <%= link_to 'Add a Carrot', new_carrot_path(:goal_id => a.id, :friend_id => current_user.id) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
  <li><%= link_to user.email, user_path(user) %> <% if !already_friends(user.id) %><%= link_to 'Add as a Friend', friendships_path(:friend_id => user), :method => :post %><% end %></li>
  <% end %>
</ul>

