<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @emergency_contact.user_id %>
</p>

<p>
  <b>First name:</b>
  <%= @emergency_contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @emergency_contact.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @emergency_contact.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @emergency_contact.email %>
</p>

<p>
  <b>Address:</b>
  <%= @emergency_contact.address %>
</p>

<p>
  <b>Relationship:</b>
  <%= @emergency_contact.relationship %>
</p>


<%= link_to 'Edit', edit_emergency_contact_path(@emergency_contact) %> |
<%= link_to 'Back', emergency_contacts_path %>
