<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @goal.title %>
</p>

<p>
  <b>User:</b>
  <%= @goal.user.first_name %>
</p>

<p>
  <b>Message:</b>
  <%= @goal.message %>
</p>

<p>
  <b>Deadline:</b>
  <%= @goal.deadline %>
</p

<p>
  <b>Carrots for this goal</b><br />
  <ul>
   <% fin = @goal.finished %>
  <% for carrot in @goal.carrots %>
        <li>
        <% if fin %>
         <%= link_to carrot.title, carrot_path(carrot) %>
        <% else %> 
         <%= carrot.title %>
         <% end %> 
        </li> 
  <% end %>
  </ul>
</p>  
